<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:12022/CounterService"
					  binding="netTcpBinding"
					  name="CounterService"
					  contract="CounterServiceCommon.ICounterService" >
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>